{% extends '::base.html.twig' %}
    {% block body %}
        {% block main_menu %}
            <ul>
                <li>Link 1</li>
                <li>Link 2</li>
            </ul>
        {% endblock %}

        {% block page_title %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    {% endblock %}