{% extends '::base.html.twig' %}
    {% block body %}
        {% block main_menu %}
            <ul>
                <li><a href="{{ path('homepage') }}">homepage</a></li>
                <li><a href="{{ path('blog_teaser') }}">blog_teaser</a></li>
                <li><a href="{{ path('blog_about_us') }}">blog_about_us</a></li>
            </ul>
        {% endblock %}

        {% block page_title %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    {% endblock %}