{% extends "BlogBundle::layout.html.twig" %}
{% block page_title %}<h1>{{ about_us.name }}</h1>{% endblock %}
{% block content %}
    <article>
        <div class="container blog_container">
            <div class="field field-body">
                {{ about_us.text }}
            </div>
            <div class="field field-location">
                {{ about_us.location }}
            </div>
        </div>
    </article>
{% endblock %}


